html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:darkgrey;
}

footer {
    background-color:dimgrey;
}

.footer_text {
    color:white;
}

header {
    background-color: dimgrey;
}

.field-validation-error {
    color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input.valid {
    border: 1px solid #16a085;
}

.validation-summary-errors {
    color: #b94a48;
}

textarea.input-validation-error {
    border: 1px solid #b94a48;
}

textarea.valid {
    border: 1px solid #16a085;
}

footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
}

.top {
    position:fixed;
    bottom:45px;
    right:5px;
}

