
@{
    ViewData["Title"] = "hghdj hjgfj";
}
<h1>hghdj hjgfj</h1>
<label>Photo:</label><br/>
<img src="https://static.wikia.nocookie.net/tokyoghoul/images/1/15/Tokyo_One-Eyed_Owl_Mask23.JPG/revision/latest/scale-to-width-down/250?cb=20170216070251" style=" width:10%; height:12%;" /><br/>
<label>Name:    </label> 
<label>hghdj hjgfj</label><br /> 
<label>Rank:    </label>
<label>sss+</label><br />
<label>Description:  </label><br/>
<label>ghjfhj</label><br />
