
@{
    ViewData["Title"] = "kl;kl;kl;";
}
<h1>kl;kl;kl;</h1>
<label>Photo:</label><br/>
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d4a8c144-1b25-4664-a8ff-406e677c836a/d8mv8jm-168d0be9-28da-4042-a795-c6cab8bc9e39.png/v1/fill/w_1024,h_640,q_80,strp/the_one_eyed_owl__tokyo_ghoul_by_zaikiri_d8mv8jm-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvZDRhOGMxNDQtMWIyNS00NjY0LWE4ZmYtNDA2ZTY3N2M4MzZhXC9kOG12OGptLTE2OGQwYmU5LTI4ZGEtNDA0Mi1hNzk1LWM2Y2FiOGJjOWUzOS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.zSzvfR5GYtN3v_a5KmB4wdn6cBBDIo11iC6Qxqud4iE" style=" width:10%; height:12%;" /><br/>
<label>Name:    </label> 
<label>kl;kl;kl;</label><br /> 
<label>Rank:    </label>
<label>sss+</label><br />
<label>Description:  </label><br/>
<label>kl;k;lkl;kl</label><br />
