
@{
    ViewData["Title"] = "klkl;kl";
}
<h1>klkl;kl</h1>
<label>Photo:</label><br/>
<img src="https://i.pinimg.com/originals/8f/bd/8f/8fbd8f33e15a1ac3f0d10fb41f61ba4a.jpg" style=" width:10%; height:12%;" /><br/>
<label>Name:    </label> 
<label>klkl;kl</label><br /> 
<label>Rank:    </label>
<label>sss+</label><br />
<label>Description:  </label><br/>
<label>;kl;kl;kl;</label><br />
