
@{
    ViewData["Title"] = "sdfsdfsdfsdfsd f";
}
<h1>sdfsdfsdfsdfsd f</h1>
<label>Photo:</label><br/>
<img src="fsdfsdf " style=" width:10%; height:12%;" /><br/>
<label>Name:    </label> 
<label>sdfsdfsdfsdfsd f</label><br /> 
<label>Rank:    </label>
<label>sss+</label><br />
<label>Description:  </label><br/>
<label>sdfsdfsdfsd</label><br />
